/* Mobile first queries */
.larger-than-mobile(@rules) {
  @media (min-width: 400px) { @rules(); }
}
.larger-than-phablet(@rules) {
  @media (min-width: 550px) { @rules(); }
}
.larger-than-tablet(@rules) {
  @media (min-width: 750px) { @rules(); }
}
.larger-than-desktop(@rules) {
  @media (min-width: 1000px) { @rules(); }
}
.larger-than-desktop-hd(@rules) {
  @media (min-width: 1200px) { @rules(); }
}

*, *:before, *:after { box-sizing: inherit }
html, body { box-sizing: border-box; }
body {
  font-family: Vollkorn, serif;
  background-color: #f0f0f0;
}
button, input, textarea, select { font-family: sans-serif; }

.App {
  text-align: center;

  .App-title { font-weight: 400; margin-bottom: 0; }
  .App-subtitle { font-weight: 400; color: gray; font-style: italic; margin-top: 0; }
  .App-photos { padding: 0 5%; }
}

.Media {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  color: #333;
  background-color: white;
  text-decoration: none;
  margin-bottom: 2em;
  padding: 2em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  .larger-than-tablet({
    flex-direction: row;
  });

  .Media-data {
    text-align: left;
    padding-top: 1em;
    .larger-than-tablet({
      padding: 0 0 0 2em;
    });
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }
  .Media-image img {}
  .Media-title, .Media-description {}
  .Media-title {}
  .Media-description { font-style: italic; }
}

.Separator {
  margin: 1.5em 0;
  color: gray;
  text-align: center;
  position: relative;
  font-size: 0.3em;
  .larger-than-tablet({
    margin: 0 0;
  });
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 40%; left: 20%;
    width: 25%;
    background-color: lightgray;
    height: 1px;
  }
  &:after {
    left: 55%;
  }
}
@import './loader.less';
